<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>MATLAB教程</title>

    <!-- 基本资源 -->
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="shortcut icon" href="../../static/ico/book-logo-small.png" />
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .header{position: fixed; z-index: 5; left: 0; right: 0; top: 0;}
    </style>

    <!-- tutor部分-->
    <link rel="stylesheet" href="../../static/css/tutor.css">

    <!-- UEditor部分 -->
    <link rel="stylesheet" href="../../static/umeditor/themes/default/css/umeditor.min.css">
    <link rel="stylesheet" href="../../static/umeditor/dialogs/emotion/emotion.css">
    <script src="../../static/umeditor/third-party/template.min.js"></script>
    <script type="text/javascript" src="../../static/umeditor/umeditor.config.js"></script>
    <script type="text/javascript" src="../../static/umeditor/umeditor.min.js"></script>
    <script type="text/javascript" src="../../static/umeditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript" src="../../static/umeditor/dialogs/emotion/emotion.js"></script>
    <script type="text/javascript" src="../../static/umeditor/dialogs/link/link.js"></script>
    <script type="text/javascript">
        $(function(){
            window.um = UM.getEditor('container', {
                autoHeightEnabled: true,

                autoFloatEnabled: true,

                initialFrameHeight: 170,

                toolbar:['source | undo redo | bold italic underline strikethrough | superscript subscript | forecolor backcolor | removeformat |',
                    'insertorderedlist insertunorderedlist | selectall cleardoc paragraph | fontfamily fontsize' ,
                    '| justifyleft justifycenter justifyright justifyjustify |',
                    'link unlink | emotion | horizontal print preview fullscreen', 'drafts']
            });
            $('#comment-edit-window').css('display', 'none');
        });
    </script>


    <!--以上的是基本CSS和JS，以下的CSS和JS不同页面有所不同 -->

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid header">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#my-navbar">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="{{ url_for('base_bp.home') }}" class="navbar-brand header-link" id="home-link">
                <span class="icon icon-home" style="height: 30px;">&nbsp;<strong>所有内容</strong></span>
            </a>

        </div>
        <div class="collapse navbar-collapse" id="my-navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('python_bp.intro') }} " class="header-link">
                        Python
                    </a>
                </li>
                <li>
                    <a href="#" class="header-link">
                        经济学
                    </a>
                </li>
                <li>
                    <a href="#" class="header-link">
                        历史学
                    </a>
                </li>
                <li>
                    <a href="#" class="header-link">
                        爬虫
                    </a>
                </li>
                <li>
                    <a href="#" class="header-link">
                        网页制作
                    </a>
                </li>
                <li>
                    <a href="MATLAB_ch1.html" class="header-link">
                        MATLAB
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle header-link" id="header-username2" data-toggle="dropdown" >
                        <span class="icon icon-user-md" aria-hidden="true"></span>&nbsp; amuro
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/{{ current_user.username }}">我的主页</a></li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ url_for('base_bp.logout') }}">
                                <span class="icon icon-reply" aria-hidden="true"></span>&nbsp; 登出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--下面的是需要替换的具体内容部分 -->
<div class="main-content">
    <div class="main-body container">

        <div class="col-md-2 side content-wrap">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="side-link" id="side-index">
                    <span class="icon icon-book"></span>&nbsp;目录
                </li>
                <li role="presentation" class="side-link active">
                    <a href="#">{{ article.name }}</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">&nbsp;&nbsp;这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">&nbsp;&nbsp;这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">&nbsp;&nbsp;这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">&nbsp;&nbsp;这是目录</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 content content-wrap">
            <div class="main-text-header">
                <h2>4.1 数值类型&nbsp;&nbsp;&nbsp;<small>2017.10.08</small></h2>
            </div>
            <div class="main-text">
                <h3>数值类型数据的分类</h3>
                <p>在MATLAB中，基本的数值类型有整数、单精度浮点数和双精度浮点数3类，如下表所示。</p>
                <table>
                	<tr>
                		<th>数据类型</th>
                		<th>数据格式</th>
                	</tr>
                	<tr>
                		<td>整数</td>
                		<td>
                			int8, uint8,<br>
                			int16, uint16,<br>
                			int32, uint32,<br>
                			int64, uint64
                		</td>
                	</tr>
                	<tr>
                		<td>单精度浮点数</td>
                		<td>single</td>
                	</tr>
                	<tr>
                		<td>双精度浮点数</td>
                		<td>double</td>
                	</tr>
                </table>
                <p>在未加说明与特殊定义时，MATLAB对所有数值按照双精度浮点数类型进行存储和操作。在需要时，可以使用整数类型或单精度浮点数类型进行运算和操作。整数类型和单精度浮点数类型的优点在于占用内存小，但首先要在能够满足精度要求的前提下。</p>


                <h3>整数类型</h3>
                <p>MATLAB提供了8种整数类型。这8种整数类型占用的位数不同，因此能够表示的数值范围也不同，如下表所示。</p>
                <table>
                	<tr>
                		<th>整数类型</th>
                		<th>数值范围</th>
                		<th>转换函数</th>
                	</tr>
                	<tr>
                		<td>有符号8位整数</td>
                		<td>-2<sup>7</sup>～2<sup>7</sup>-1</td>
                		<td>int8</td>
                	</tr>
                	<tr>
                		<td>无符号8位整数</td>
                		<td>0～2<sup>8</sup>-1</td>
                		<td>uint8</td>
                	</tr>
                	<tr>
                		<td>有符号16位整数</td>
                		<td>-2<sup>15</sup>～2<sup>15</sup>-1</td>
                		<td>int16</td>
                	</tr>
                	<tr>
                		<td>无符号16位整数</td>
                		<td>0～2<sup>16</sup>-1</td>
                		<td>uint16</td>
                	</tr>
                	<tr>
                		<td>有符号32位整数</td>
                		<td>-2<sup>31</sup>～2<sup>31</sup>-1</td>
                		<td>int32</td>
                	</tr>
                	<tr>
                		<td>无符号32位整数</td>
                		<td>0～2<sup>32</sup>-1</td>
                		<td>uint32</td>
                	</tr>
                	<tr>
                		<td>有符号64位整数</td>
                		<td>-2<sup>63</sup>～2<sup>63</sup>-1</td>
                		<td>int64</td>
                	</tr>
                	<tr>
                		<td>无符号64位整数</td>
                		<td>0～2<sup>64</sup>-1</td>
                		<td>uint64</td>
                	</tr>
                </table>
                <p>转换函数中，数字代表该类型所占用的位数，u代表unsigned（无符号）。使用转换函数，可以将浮点型数值转换为整数数值或在整数数值类型之间相互转换。在将浮点型数值转换为整数数值的过程中，MATLAB默认将待转换数值转换为与之最为接近的整数值，若小数部分位0.5，则转换后的结果为与该浮点数最接近的两个整数中绝对值较大的一个。在整数数值类型之间转换的过程中，待转换的数值不应超过待转换的整数类型能够表示的范围，否则就会出现错误，运算结果为该整数类型能够表示的最大值或最小值。</p>
            	<p>在脚本编辑器或命令行输入：</p>
            	<pre>int8(2.1)</pre>
            	<p>输出结果为：</p>
            	<pre>ans =<br>  int8<br>   2</pre>
            	<p>在脚本编辑器或命令行输入：</p>
            	<pre>int8(2.5)</pre>
            	<p>输出结果为：</p>
            	<pre>ans =<br>  int8<br>   3</pre>
            	<p>在脚本编辑器或命令行输入：</p>
            	<pre>int8(1024) <i>%int8类型能够表示的最大值为127</i></pre>
            	<p>输出结果为：</p>
            	<pre>ans =<br>  int8<br>   127</pre>
            	<p>在脚本编辑器或命令行输入：</p>
            	<pre>int16(1024) <i>%int16类型能够表示的最大值为32767</i></pre>
            	<p>输出结果为：</p>
            	<pre>ans =<br>  int16<br>   1024</pre>
            	<p>MATLAB还包含了几类取整函数，也可以把浮点数转换成整数。这些取整函数及相应的转换方式如下表所示。</p>
            	<table>
            		<tr>
            			<th>函数</th>
            			<th>运算法则</th>
            			<th>示例</th>
            		</tr>
            		<tr>
            			<td>floor(x)</td>
            			<td>向下取整</td>
            			<td>
            				floor(1.2)=1<br>
            				floor(2.5)=2<br>
            				floor(-2.5)=-3
            			</td>
            		</tr>
            		<tr>
            			<td>cell(x)</td>
            			<td>向上取整</td>
            			<td>
            				ceil(1.2)=2<br>
            				ceil(2.5)=3<br>
            				ceil(-2.5)=-2
            			</td>
            		</tr>
            		<tr>
            			<td>round(x)</td>
            			<td>
            				取最接近的整数<br>
            				如果小数部分是0.5，则向绝对值大的方向取整
						</td>
            			<td>
            				round(1.2)=1<br>
            				round(2.5)=3<br>
            				round(-2.5)=-3
            			</td>
            		</tr>
            		<tr>
            			<td>fix(x)</td>
            			<td>向0取整</td>
            			<td>
            				fix(1.2)=1<br>
            				fix(2.5)=2<br>
            				fix(-2.5)=-2
            			</td>
            		</tr>
            	</table>
            	
            	 
            	 
            	<h3>浮点数类型</h3>
            	<p>MATLAB中提供了单精度浮点数类型和双精度浮点数类型。单精度浮点数能够表示的数值范围和数值的精度都比双精度浮点数小，更加具体的差别超出了本教程的难度范围，不做介绍。</p>
            	<p>双精度浮点数参与运算时，返回值的类型依赖于参与运算的其他数据类型。参与运算的其他数据为逻辑型、字符型时，返回结果为双精度浮点型；参与运算的其他数据为整数型时，返回结果为相应的整数类型；参与运算的其他数据为单精度浮点型时，返回结果为相应的单精度浮点型。</p>
            	<p>在MATLAB中，单精度浮点型不能与整数类型进行算术运算。</p>
            	<p>在脚本编辑器或命令行输入：</p>
            	<pre>a = uint32(120); b = single(22.809); c = 73.226;<br>ab = a * b <i>%整数与单精度浮点型进行运算</i></pre>
            	<p>输出结果为：</p>
            	<pre>错误使用  * <br>整数只能与相同类的整数或标量双精度值组合使用。</pre>
            	<p>在脚本编辑器或命令行输入：</p>
            	<pre>ac = a * c <i>%120*73.226=8787.12</i></pre>
            	<p>输出结果为：</p>
            	<pre>ac =<br>  uint32<br>   8787</pre>
            	<p>在脚本编辑器或命令行输入：</p>
            	<pre>bc = b * c</pre>
            	<p>输出结果为：</p>
            	<pre>bc =<br>  single<br>  1.6702e+03</pre>
            	<p>在脚本编辑器或命令行输入：</p>
            	<pre>str = 'hello'</pre>
            	<p>输出结果为：</p>
            	<pre>str =<br>hello</pre>
            	<p>在脚本编辑器或命令行输入：</p>
            	<pre>newstr = str - 44.3</pre>
            	<p>输出结果为：</p>
            	<pre>newstr =<br>   59.7000   56.7000   63.7000   63.7000   66.7000</pre>
            	<p>在脚本编辑器或命令行输入：</p>
            	<pre>whos</pre>
            	<p>输出结果为：</p>
            	<pre>  Name        Size            Bytes  Class     Attributes<br><br>  a           1x1                 4  uint32<br>  ac          1x1                 4  uint32<br>  b           1x1                 4  single<br>  bc          1x1                 4  single<br>  c           1x1                 8  double<br>  newstr      1x5                40  double<br>  str         1x5                10  char </pre>
            	<p>在MATLAB中，whos函数可以查看工作区中变量的属性。如果不指明对象，则返回工作区中所有变量的属性，如果指明对象，则返回所指明对象的属性。如在脚本编辑器或命令行输入：</p>
            	<pre>whos a ac</pre>
            	<p>输出结果为：</p>
            	<pre>  Name        Size            Bytes  Class     Attributes<br><br>  a           1x1                 4  uint32<br>  ac          1x1                 4  uint32</pre>
            	
            	
            	<h3>复数</h3>
            	<p>MATLAB中默认使用字符i或j作为虚部标志。创建复数时，可以直接按照复数形式输入或者使用complex函数。MATLAB中有关复数的相关函数如下表所示。</p>
            	<table>
            		<tr>
            			<th>函数</th>
            			<th>说明</th>
            		</tr>
            		<tr>
            			<td>real(z)</td>
            			<td>返回复数z的实部</td>
            		</tr>
            		<tr>
            			<td>imag(z)</td>
            			<td>返回复数z的虚部</td>
            		</tr>
            		<tr>
            			<td>abs(z)</td>
            			<td>返回复数z的模</td>
            		</tr>
            		<tr>
            			<td>angle(z)</td>
            			<td>返回复数z的辐角</td>
            		</tr>
            		<tr>
            			<td>comj(z)</td>
            			<td>返回复数z的共轭复数</td>
            		</tr>
            		<tr>
            			<td>complex(a, b)</td>
            			<td>以a为实部，b为虚部创建复数</td>
            		</tr>
            	</table>
            	
            	
            	
            	<h3>无穷量和非数值量</h3>
            	<p>MATLAB中使用inf（Inf）和-inf（-Inf）分别代表正无穷量和负无穷量，nan（NaN）表示非数值量。关于无穷量和非数值量的讨论超出本教程的范围，因此只对二者做最基本的介绍。</p>
            
            
            
            </div>
            <!-- 加载评论区 -->
            <div class="comment-block">
                <div class="panel panel-info">

                    <div class="comment-title panel-heading">
                        <h3>Comments
                            <a id="comment-switch"><button class="btn btn-info">switch</button></a>
                            <a id="comment-button" class="pull-right"><button class="btn btn-info">展示/隐藏评论编辑框</button></a>
                        </h3>
                    </div>


                    <div class="comment-content-wrap panel-body">
                        <ul class="comment-content list-group">
                            <!--评论编辑窗口-->
                            <li>
                                <div class="modal-content" id="comment-edit-window">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">编辑评论内容</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" method="post" action="#">
                                            <div class="form-group">
                                                <label for="tittle" class="col-sm-2 control-label">主题</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="comment-title" name="title" placeholder="请输入主题">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="content" class="col-sm-2 control-label">内容</label>
                                                <div class="col-sm-10">
                                                    <script id="container" name="content" type="text/plain" style="width: 100%">  请在这里输入具体的内容</script>
                                                </div>
                                            </div>

                                            <input type="submit" id="comment-submit" style="display: none">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button id="comment-submit-button" type="button" class="btn btn-primary">提交</button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <form class="reply-form-hide">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <script id="container-for-sub-comment" name="sub-comment" type="text/plain" style="width: 100%">  请在这里输入具体的内容</script>
                                        </div>
                                        <div class="col-sm-1">
                                            <a  class="btn btn-info btn-sm btn-sub_com-submit">回复</a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="btn btn-default btn-sm btn-sub_com-cancel">取消</a>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <!--具体评论-->
                            <!-- 第一条评论 -->
                            <li class="comment list-group-item clearfix row" id="1">

                                <div class="comment-avatar col-md-2">
                                    <img id="test" class="comment-header-avatar img-responsive" src="../../static/images/avatar/amuro_avatar%2010.png">
                                </div>
                                <div class="comment-header col-md-10">

                                    <div class="comment-header-title col-md-10">
                                        <strong>这是一条测试评论的标题</strong>
                                    </div>
                                    <div class="reply col-md-2">
                                        <button class="btn btn-info btn-sm pull-right reply-btn" style="margin-top: 10px">回复</button>


                                    </div>


                                    <div class="comment-detail col-md-10">
                                        这是评论的内容。这是评论的内容。<br>这是评论的内容。这是评论的内容。这是评论的内容。
                                    </div>
                                </div>


                                <div class="comment-from col-md-offset-2 col-md-10">

                                    <p class="pull-right">
                                        by: amuro&nbsp;&nbsp;&nbsp;
                                        posted: 2017.09.21
                                    </p>
                                </div>
                                <!-- 子评论 -->
                                <div class="sub-comment-block">
                                    <ul class="comment-content list-group col-sm-offset-2 col-sm-10">
                                    <!-- 第一条子评论 -->
                                    <li class="comment list-group-item clearfix row ">

                                        <div class="comment-avatar col-md-2">
                                            <img id="test" class="comment-header-avatar img-responsive" src="../../static/images/avatar/amuro_avatar%2010.png">
                                        </div>
                                        <div class="comment-header col-md-10">

                                            <div class="reply col-md-2">
                                                <!-- 父评论的id -->
                                                <span class="parent-comment-id" style="display: none">1</span>
                                            </div>


                                            <div class="comment-detail col-md-12">
                                                这是评论的内容。这是评论的内容。<br>这是评论的内容。这是评论的内容。这是评论的内容。
                                            </div>
                                        </div>

                                        <div class="comment-from col-md-offset-2 col-md-10">

                                            <p class="pull-right">
                                                by: amuro&nbsp;&nbsp;&nbsp;
                                                posted: 2017.09.21
                                            </p>
                                        </div>
                                    </li>


                                </ul>
                                </div>
                            </li>
                            <!-- 第二条评论 -->
                            <li class="comment list-group-item clearfix row">

                                <div class="comment-avatar col-md-2">
                                    <img id="test" class="comment-header-avatar img-responsive" src="../../static/images/avatar/amuro_avatar%2010.png">
                                </div>
                                <div class="comment-header col-md-10">

                                    <div class="comment-header-title col-md-10">
                                        <strong>这是一条测试评论的标题</strong>
                                    </div>
                                    <div class="reply col-md-2">
                                        <button class="btn btn-info btn-sm pull-right reply-btn" style="margin-top: 10px">回复</button>
                                        <!-- 父评论的id -->
                                        <span class="parent-comment-id" style="display: none">1</span>
                                    </div>


                                    <div class="comment-detail col-md-10">
                                        这是评论的内容。这是评论的内容。<br>这是评论的内容。这是评论的内容。这是评论的内容。
                                    </div>
                                </div>


                                <div class="comment-from col-md-offset-2 col-md-10">

                                    <p class="pull-right">
                                        by: amuro&nbsp;&nbsp;&nbsp;
                                        posted: 2017.09.21
                                    </p>
                                </div>
                                <!-- 子评论 -->
                                <div class="sub-comment-block">
                                    <ul class="comment-content list-group col-md-offset-2 col-md-10">
                                    <li class="comment list-group-item clearfix row ">

                                        <div class="comment-avatar col-md-2">
                                            <img id="test" class="comment-header-avatar img-responsive" src="../../static/images/avatar/amuro_avatar%2010.png">
                                        </div>
                                        <div class="comment-header col-md-10">

                                            <div class="reply col-md-2">
                                                <!-- 父评论的id -->
                                                <span class="parent-comment-id" style="display: none">1</span>
                                            </div>


                                            <div class="comment-detail col-md-12">
                                                这是评论的内容。这是评论的内容。<br>这是评论的内容。这是评论的内容。这是评论的内容。
                                            </div>
                                        </div>

                                        <div class="comment-from col-md-offset-2 col-md-10">

                                            <p class="pull-right">
                                                by: amuro&nbsp;&nbsp;&nbsp;
                                                posted: 2017.09.21
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <script>
                        $(function(){
                            var width = $('div.comment-detail').width();
                            $('.reply-btn').click(function(){
                                $(this).fadeOut(600);
                                $(this).parent().parent().next().prepend(
                                    $('.reply-form-hide').fadeIn(600)
                                );
                            });
                            $('.btn-cancel').click(function(){
                                $(this).parent().parent().parent().fadeOut(600);
                                $('.reply-btn').fadeIn(600);
                            });
                            window.um = UM.getEditor('container-for-sub-comment', {
                                autoHeightEnabled: true,

                                autoFloatEnabled: true,

                                initialFrameWidth: width,

                                initialFrameHeight: 170,

                                toolbar:['source | undo redo | bold italic underline strikethrough | superscript subscript | forecolor backcolor | removeformat |',
                                    'insertorderedlist insertunorderedlist | selectall cleardoc paragraph | fontfamily fontsize' ,
                                    '| justifyleft justifycenter justifyright justifyjustify |',
                                    'link unlink | emotion | horizontal print preview fullscreen', 'drafts']
                            });
                        });
                    </script>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- 以上是需要替换的具体的内容部分 -->

<div id="templatemo_footer" class="container_wapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Copyright © 2017 简单教程</p>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../static/js/tutor.js"></script>
</html>
