
{% extends 'base_tutor.html' %}
{% block sub_title %}MATLAB教程{% endblock %}


{% block content %}
    <!-- 主内容部分 -->
    <div class="main-content">
        <div class="main-body container">
            <div class="row">
                {% include "matlab/matlab_side_nav.html" %}

                <div class="col-md-10 col-xs-12 content content-wrap">
                    <div class="row">
                        <div class="main-text-header col-md-12">
                            <h2>4 数据类型&nbsp;&nbsp;&nbsp;<small>2017.10.08</small></h2>
                        </div>
                        <div class="main-text">
                            <div class="col-md-12">

                                <p>MATLAB中提供了多种数据类型满足用户需要。MATLAB中的数据类型有：数值类型、逻辑类型、字符和字符串、函数句柄、结构体类型、数组类型、单元数组类型、map容器类型。map容器类型不常用到，因此在本教程中略去。</p>
                                <ul>
                                    <li><a href="MATLAB_ch4.1.html">4.1 数值类型</a></li>
                                    <li><a href="MATLAB_ch4.2.html">4.2 逻辑类型</a></li>
                                    <li><a href="MATLAB_ch4.3.html">4.3 数组类型</a></li>
                                    <li><a href="MATLAB_ch4.4.html">4.4 字符和字符串</a></li>
                                    <li><a href="MATLAB_ch4.5.html">4.5 结构体类型</a></li>
                                    <li><a href="MATLAB_ch4.6.html">4.6 单元数组类型</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!-- 加载评论区 -->
                    {% include 'comment_block.html' %}
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-center",
                "preventDuplicates": false,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            {% for message in get_flashed_messages(with_categories=True) %}
                toastr.{{ message[1] }}('{{ message[0] }}', '提示信息');
            {% endfor %}
        })
    </script>
{% endblock %}

