<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>MATLAB教程</title>

    <!-- 基本资源 -->
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="shortcut icon" href="../../static/ico/book-logo-small.png" />
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .header{position: fixed; z-index: 5; left: 0; right: 0; top: 0;}
    </style>

    <!-- tutor部分-->
    <link rel="stylesheet" href="../../static/css/tutor.css">

    <!-- UEditor部分 -->
    <link rel="stylesheet" href="../../static/umeditor/themes/default/css/umeditor.min.css">
    <link rel="stylesheet" href="../../static/umeditor/dialogs/emotion/emotion.css">
    <script src="../../static/umeditor/third-party/template.min.js"></script>
    <script type="text/javascript" src="../../static/umeditor/umeditor.config.js"></script>
    <script type="text/javascript" src="../../static/umeditor/umeditor.min.js"></script>
    <script type="text/javascript" src="../../static/umeditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript" src="../../static/umeditor/dialogs/emotion/emotion.js"></script>
    <script type="text/javascript" src="../../static/umeditor/dialogs/link/link.js"></script>
    <script type="text/javascript">
        $(function(){
            window.um = UM.getEditor('container', {
                autoHeightEnabled: true,

                autoFloatEnabled: true,

                initialFrameHeight: 170,

                toolbar:['source | undo redo | bold italic underline strikethrough | superscript subscript | forecolor backcolor | removeformat |',
                    'insertorderedlist insertunorderedlist | selectall cleardoc paragraph | fontfamily fontsize' ,
                    '| justifyleft justifycenter justifyright justifyjustify |',
                    'link unlink | emotion | horizontal print preview fullscreen', 'drafts']
            });
            $('#comment-edit-window').css('display', 'none');
        });
    </script>


    <!--以上的是基本CSS和JS，以下的CSS和JS不同页面有所不同 -->

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid header">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#my-navbar">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="{{ url_for('base_bp.home') }}" class="navbar-brand header-link" id="home-link">
                <span class="icon icon-home" style="height: 30px;">&nbsp;<strong>所有内容</strong></span>
            </a>

        </div>
        <div class="collapse navbar-collapse" id="my-navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('python_bp.intro') }} " class="header-link">
                        Python
                    </a>
                </li>
                <li>
                    <a href="#" class="header-link">
                        经济学
                    </a>
                </li>
                <li>
                    <a href="#" class="header-link">
                        历史学
                    </a>
                </li>
                <li>
                    <a href="#" class="header-link">
                        爬虫
                    </a>
                </li>
                <li>
                    <a href="#" class="header-link">
                        网页制作
                    </a>
                </li>
                <li>
                    <a href="MATLAB_ch1.html" class="header-link">
                        MATLAB
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle header-link" id="header-username2" data-toggle="dropdown" >
                        <span class="icon icon-user-md" aria-hidden="true"></span>&nbsp; amuro
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/{{ current_user.username }}">我的主页</a></li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ url_for('base_bp.logout') }}">
                                <span class="icon icon-reply" aria-hidden="true"></span>&nbsp; 登出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--下面的是需要替换的具体内容部分 -->
<div class="main-content">
    <div class="main-body container">

        <div class="col-md-2 side content-wrap">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="side-link" id="side-index">
                    <span class="icon icon-book"></span>&nbsp;目录
                </li>
                <li role="presentation" class="side-link active">
                    <a href="#">{{ article.name }}</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">&nbsp;&nbsp;这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">&nbsp;&nbsp;这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">&nbsp;&nbsp;这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">&nbsp;&nbsp;这是目录</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 content content-wrap">
            <div class="main-text-header">
                <h2>3 MATLAB编程入门&nbsp;&nbsp;&nbsp;<small>2017.10.08</small></h2>
            </div>
            <div class="main-text">
                <h3>脚本</h3>
                <p>在MATLAB中，为了完成一个操作，我们可能需要一次性输入多行代码并执行。在这种情况下，在命令行中输入代码的方式会使调试变得困难。因此，有必要先介绍如何在MATLAB中使用脚本。</p>
                <p>按Command+N或单击主页选项卡中的新建脚本，我们会看到MATLAB的界面发生了变化。增加了编辑器、发布、视图三个选项卡和编辑器窗口。这时，我们就可以在脚本中一次性编写多行代码，再一并执行。MATLAB会自动保存用户正在编写的脚本文件，脚本文件的扩展名为m。</p>
            	<img src="../../static/images/MATLAB/ch3/pic1.png" width="100%" alt=""/>
                <p>在脚本编辑器中输入：</p>
                <pre>x = 1 + 1<br>y = -pi<br>z = x + y</pre>
                <p>按Option+Command+R或单击编辑器选项卡中的运行，得到结果如下：</p>
                <pre>x =<br>     2<br>y =<br>   -3.1416<br>z =<br>   -1.1416</pre>
                <p>在脚本编辑器中编写程序和在命令行中编写程序，并无优劣之分，读者可根据自身习惯灵活选择。</p>
                <p>细心的读者可能会发现，在运行上面的脚本时，MATLAB在命令行中自动写了一行代码，即脚本的文件名，如“&gt;&gt; untitled”。这也是一种运行脚本的方法。读者在熟悉了MATLAB的操作之后，也可以用这种方法运行脚本。</p>

               
                <h3>函数</h3>
                <p>MATLAB中内置了成千上万条函数，具有非常强大的功能。虽然函数有许多种，但是它们的形式基本是一样的，即：</p>
            	<pre>函数名(参数)</pre>
            	<p>其中，有一些函数可以没有参数，比如quit()，其作用是退出MATLAB。对于没有参数的函数和部分有参数的函数来说，括号可以省略。</p>
            	<p>对于有多个参数的函数，输入的参数以半角逗号隔开。例如，在脚本编辑器或命令行输入：</p>
            	<pre>e5 = exp(5)</pre>
            	<p>输出结果为：</p>
            	<pre>e5 =<br>  148.4132</pre>
            	<p>在脚本编辑器或命令行输入：</p>
            	<pre>x = [1, 2, 3, 4, 5];<br>y = x .^ 2;<br>plot(x, y, 'ro--')</pre>
            	<p>弹出新窗口：</p> 
            	<img src="../../static/images/MATLAB/ch3/pic2.png" width="100%" alt=""/>
            	<p>在脚本编辑器或命令行输入：</p>
            	<pre>clear</pre>
            	<p>该命令没有输出结果，其作用是清除内存中的变量，可以看到原本工作区内显示的变量全部消失了。</p>
            	 
            	 
            	<h3>注释</h3>
            	<p>MATLAB采用"%"作为注释符号。每一行在"%"后面的内容不会被MATLAB执行。</p>
            	<p>在脚本编辑器中输入：</p>
            	<pre><i>% This is a test program.</i><br>r = rand() <i>%Generate a random number between 0 and 1</i></pre>
            	<p>输出结果为（示例）：</p>
            	<pre>r =<br>    0.8147</pre>
            	<p>除了可以从键盘上输入"%"外，还可以通过编辑器选项卡中的“注释”和“取消注释”来方便地为整行代码添加注释或取消注释。</p>
            	<p>在脚本编辑器中输入：</p>
            	<pre>This is a test program.<br>r = rand() <i>%Generate a random number between 0 and 1</i></pre>
            	<p>使光标指向第一行，单击“注释”，可以发现MATLAB自动在第一行代码前添加了注释符号。再单击“取消注释”，注释符号消失。</p>
            	
            	
            	<h3>返回值</h3>
            	<p>每一个MATLAB函数都有返回值，返回值中包含了该函数运行的信息。如果希望保留返回值用于其他工作，可以将返回值赋值给新的变量。如果没有赋值给其他变量，一般情况下MATLAB将把返回值赋值给内置变量ans，这个变量被用于保存上一次计算的结果。利用函数的返回值，可以简化许多操作。</p>
            	<p>在脚本编辑器或命令行输入：</p>
            	<pre>a = sin(pi/3)</pre>
            	<p>输出结果为：</p>
            	<pre>a =<br>    0.8660</pre>
            	<p>在脚本编辑器或命令行输入：</p>
            	<pre>sin(pi/3)</pre>
            	<p>输出结果为：</p>
            	<pre>ans =<br>    0.8660</pre>
            	
            	
            	
            	<h3>输入输出函数</h3>
            	<p>在编程中，输入输出是十分重要的。MATLAB中的输入函数为input，输出函数为disp。其用法为：</p>
            	<pre>input(提示输入的内容)<br>disp(输出的内容)</pre>
            	<p>在使用input和disp函数时，应当注意两点：（1）input函数的返回值为输入的内容，通常需要将返回值赋给其他变量。（2）input和disp函数的参数都是字符串，输入时应加上单引号。有关字符串的内容，下一章会进行更详细的讲解。</p>
            	<p>在脚本编辑器或命令行输入：</p>
            	<pre>disp('Hello world')</pre>  
            	<p>输出结果为：</p>
            	<pre>Hello world</pre>
            	<p>在脚本编辑器或命令行输入：</p>
            	<pre>age = input('How old are you?')</pre>
            	<p>输出结果为：</p>
            	<pre>How old are you?</pre>
            	<p>此时提示需要输入你的年龄，输入20，按Enter键，输出结果为：</p>
            	<pre>age =<br>    20</pre>
            	
            	
            	
            	<h3>变量的命名</h3>
            	<p>在MATLAB中，变量不需要预先声明就可以进行赋值。变量的命名遵循以下规则：</p>
            	<p>（1）变量名和函数名对字母的大小写敏感，因此x和X是两个不同的变量；sin是MATLAB定义的正弦函数，而SIN不是。</p>
            	<p>（2）变量名必须以字母开头，其后可以是任意字母或下划线，但是不能有空格、中文或标点，例如_xy、a.b均为不合法的变量名，而classNum_x是一个合法的变量名。</p>
            	<p>（3）不能使用MATLAB的关键字作为变量名，避免使用函数名作为变量名。如果变量采用函数名，则该函数失效，例如设置变量名为"if"、"end"等。</p>
            	<p>（4）变量名最多可包含63个字符，从第64个字符开始之后的字符将被忽略。为了程序可读性及维护方便，变量名一般代表一定的含义。</p>
            	<p>通过调用isvarname函数，可以验证变量名是否能被MATLAB接受的合法变量名。该函数返回值为1或0，表示合法或不合法。</p>
            	<p>在脚本编辑器或命令行输入：</p>
            	<pre>isvarname('_xy')</pre>
            	<p>输出结果为：</p>
            	<pre>ans =<br>  logical<br>   0</pre>
            	<p>在脚本编辑器或命令行输入：</p>
            	<pre>isvarname('classNum_x')</pre>
            	<p>输出结果为：</p>
            	<pre>ans =<br>  logical<br>   1</pre>
            	<p>输出中增加了一个"logical"，我们将在下一章进行解释。</p>
            	
            	
            	
            	<h3>搜索路径</h3>
            	<p>这一部分并无多大实际用处，但是对于调试程序可能非常重要，因此依然对搜索路径做一些介绍。</p>
            	<p>MATLAB提供了专门的路径搜索器来搜索存储在内存中的M文件和其他相关文件，MATLAB自带的文件所存放路径都被默认包含在搜索路径中。在输入一个字符串如"polyfit"后，MATLAB进行的路径搜索步骤如下：</p>
            	<p>（1）检查polyfit是不是MATLAB工作区内的变量名，如果不是，执行下一步。</p>
            	<p>（2）检查polyfit是不是一个内置函数，如果不是，执行下一步。</p>
            	<p>（3）检查当前文件夹下是否存在一个名为polyfit.m的文件，如果没有，执行下一步。</p>
            	<p>（4）按顺序检查在所有MATLAB搜索路径中是否存在polyfit.m文件。</p>
            	<p>（5）如果仍然没有找到polyfit，MATLAB就会给出一条错误信息。</p>
            	<p>MATLAB的路径搜索步骤解释了上一节中为什么变量采用函数名时会使函数失效而非变量失效。MATLAB首先判定该字符串是工作区内的变量名，所以将其作为变量处理。</p>

            
            
            </div>
            <!-- 加载评论区 -->
            <div class="comment-block">
                <div class="panel panel-info">

                    <div class="comment-title panel-heading">
                        <h3>Comments
                            <a id="comment-switch"><button class="btn btn-info">switch</button></a>
                            <a id="comment-button" class="pull-right"><button class="btn btn-info">展示/隐藏评论编辑框</button></a>
                        </h3>
                    </div>


                    <div class="comment-content-wrap panel-body">
                        <ul class="comment-content list-group">
                            <!--评论编辑窗口-->
                            <li>
                                <div class="modal-content" id="comment-edit-window">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">编辑评论内容</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" method="post" action="#">
                                            <div class="form-group">
                                                <label for="tittle" class="col-sm-2 control-label">主题</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="comment-title" name="title" placeholder="请输入主题">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="content" class="col-sm-2 control-label">内容</label>
                                                <div class="col-sm-10">
                                                    <script id="container" name="content" type="text/plain" style="width: 100%">  请在这里输入具体的内容</script>
                                                </div>
                                            </div>

                                            <input type="submit" id="comment-submit" style="display: none">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button id="comment-submit-button" type="button" class="btn btn-primary">提交</button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <form class="reply-form-hide">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <script id="container-for-sub-comment" name="sub-comment" type="text/plain" style="width: 100%">  请在这里输入具体的内容</script>
                                        </div>
                                        <div class="col-sm-1">
                                            <a  class="btn btn-info btn-sm btn-sub_com-submit">回复</a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="btn btn-default btn-sm btn-sub_com-cancel">取消</a>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <!--具体评论-->
                            <!-- 第一条评论 -->
                            <li class="comment list-group-item clearfix row" id="1">

                                <div class="comment-avatar col-md-2">
                                    <img id="test" class="comment-header-avatar img-responsive" src="../../static/images/avatar/amuro_avatar%2010.png">
                                </div>
                                <div class="comment-header col-md-10">

                                    <div class="comment-header-title col-md-10">
                                        <strong>这是一条测试评论的标题</strong>
                                    </div>
                                    <div class="reply col-md-2">
                                        <button class="btn btn-info btn-sm pull-right reply-btn" style="margin-top: 10px">回复</button>


                                    </div>


                                    <div class="comment-detail col-md-10">
                                        这是评论的内容。这是评论的内容。<br>这是评论的内容。这是评论的内容。这是评论的内容。
                                    </div>
                                </div>


                                <div class="comment-from col-md-offset-2 col-md-10">

                                    <p class="pull-right">
                                        by: amuro&nbsp;&nbsp;&nbsp;
                                        posted: 2017.09.21
                                    </p>
                                </div>
                                <!-- 子评论 -->
                                <div class="sub-comment-block">
                                    <ul class="comment-content list-group col-sm-offset-2 col-sm-10">
                                    <!-- 第一条子评论 -->
                                    <li class="comment list-group-item clearfix row ">

                                        <div class="comment-avatar col-md-2">
                                            <img id="test" class="comment-header-avatar img-responsive" src="../../static/images/avatar/amuro_avatar%2010.png">
                                        </div>
                                        <div class="comment-header col-md-10">

                                            <div class="reply col-md-2">
                                                <!-- 父评论的id -->
                                                <span class="parent-comment-id" style="display: none">1</span>
                                            </div>


                                            <div class="comment-detail col-md-12">
                                                这是评论的内容。这是评论的内容。<br>这是评论的内容。这是评论的内容。这是评论的内容。
                                            </div>
                                        </div>

                                        <div class="comment-from col-md-offset-2 col-md-10">

                                            <p class="pull-right">
                                                by: amuro&nbsp;&nbsp;&nbsp;
                                                posted: 2017.09.21
                                            </p>
                                        </div>
                                    </li>


                                </ul>
                                </div>
                            </li>
                            <!-- 第二条评论 -->
                            <li class="comment list-group-item clearfix row">

                                <div class="comment-avatar col-md-2">
                                    <img id="test" class="comment-header-avatar img-responsive" src="../../static/images/avatar/amuro_avatar%2010.png">
                                </div>
                                <div class="comment-header col-md-10">

                                    <div class="comment-header-title col-md-10">
                                        <strong>这是一条测试评论的标题</strong>
                                    </div>
                                    <div class="reply col-md-2">
                                        <button class="btn btn-info btn-sm pull-right reply-btn" style="margin-top: 10px">回复</button>
                                        <!-- 父评论的id -->
                                        <span class="parent-comment-id" style="display: none">1</span>
                                    </div>


                                    <div class="comment-detail col-md-10">
                                        这是评论的内容。这是评论的内容。<br>这是评论的内容。这是评论的内容。这是评论的内容。
                                    </div>
                                </div>


                                <div class="comment-from col-md-offset-2 col-md-10">

                                    <p class="pull-right">
                                        by: amuro&nbsp;&nbsp;&nbsp;
                                        posted: 2017.09.21
                                    </p>
                                </div>
                                <!-- 子评论 -->
                                <div class="sub-comment-block">
                                    <ul class="comment-content list-group col-md-offset-2 col-md-10">
                                    <li class="comment list-group-item clearfix row ">

                                        <div class="comment-avatar col-md-2">
                                            <img id="test" class="comment-header-avatar img-responsive" src="../../static/images/avatar/amuro_avatar%2010.png">
                                        </div>
                                        <div class="comment-header col-md-10">

                                            <div class="reply col-md-2">
                                                <!-- 父评论的id -->
                                                <span class="parent-comment-id" style="display: none">1</span>
                                            </div>


                                            <div class="comment-detail col-md-12">
                                                这是评论的内容。这是评论的内容。<br>这是评论的内容。这是评论的内容。这是评论的内容。
                                            </div>
                                        </div>

                                        <div class="comment-from col-md-offset-2 col-md-10">

                                            <p class="pull-right">
                                                by: amuro&nbsp;&nbsp;&nbsp;
                                                posted: 2017.09.21
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <script>
                        $(function(){
                            var width = $('div.comment-detail').width();
                            $('.reply-btn').click(function(){
                                $(this).fadeOut(600);
                                $(this).parent().parent().next().prepend(
                                    $('.reply-form-hide').fadeIn(600)
                                );
                            });
                            $('.btn-cancel').click(function(){
                                $(this).parent().parent().parent().fadeOut(600);
                                $('.reply-btn').fadeIn(600);
                            });
                            window.um = UM.getEditor('container-for-sub-comment', {
                                autoHeightEnabled: true,

                                autoFloatEnabled: true,

                                initialFrameWidth: width,

                                initialFrameHeight: 170,

                                toolbar:['source | undo redo | bold italic underline strikethrough | superscript subscript | forecolor backcolor | removeformat |',
                                    'insertorderedlist insertunorderedlist | selectall cleardoc paragraph | fontfamily fontsize' ,
                                    '| justifyleft justifycenter justifyright justifyjustify |',
                                    'link unlink | emotion | horizontal print preview fullscreen', 'drafts']
                            });
                        });
                    </script>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- 以上是需要替换的具体的内容部分 -->

<div id="templatemo_footer" class="container_wapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Copyright © 2017 简单教程</p>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../static/js/tutor.js"></script>
</html>
