<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>MATLAB教程</title>

    <!-- 基本资源 -->
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="shortcut icon" href="../../static/ico/book-logo-small.png" />
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .header{position: fixed; z-index: 5; left: 0; right: 0; top: 0;}
    </style>

    <!-- tutor部分-->
    <link rel="stylesheet" href="../../static/css/tutor.css">

    <!-- UEditor部分 -->
    <link rel="stylesheet" href="../../static/umeditor/themes/default/css/umeditor.min.css">
    <link rel="stylesheet" href="../../static/umeditor/dialogs/emotion/emotion.css">
    <script src="../../static/umeditor/third-party/template.min.js"></script>
    <script type="text/javascript" src="../../static/umeditor/umeditor.config.js"></script>
    <script type="text/javascript" src="../../static/umeditor/umeditor.min.js"></script>
    <script type="text/javascript" src="../../static/umeditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript" src="../../static/umeditor/dialogs/emotion/emotion.js"></script>
    <script type="text/javascript" src="../../static/umeditor/dialogs/link/link.js"></script>
    <script type="text/javascript">
        $(function(){
            window.um = UM.getEditor('container', {
                autoHeightEnabled: true,

                autoFloatEnabled: true,

                initialFrameHeight: 170,

                toolbar:['source | undo redo | bold italic underline strikethrough | superscript subscript | forecolor backcolor | removeformat |',
                    'insertorderedlist insertunorderedlist | selectall cleardoc paragraph | fontfamily fontsize' ,
                    '| justifyleft justifycenter justifyright justifyjustify |',
                    'link unlink | emotion | horizontal print preview fullscreen', 'drafts']
            });
            $('#comment-edit-window').css('display', 'none');
        });
    </script>


    <!--以上的是基本CSS和JS，以下的CSS和JS不同页面有所不同 -->

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid header">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#my-navbar">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="{{ url_for('base_bp.home') }}" class="navbar-brand header-link" id="home-link">
                <span class="icon icon-home" style="height: 30px;">&nbsp;<strong>所有内容</strong></span>
            </a>

        </div>
        <div class="collapse navbar-collapse" id="my-navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('python_bp.intro') }} " class="header-link">
                        Python
                    </a>
                </li>
                <li>
                    <a href="#" class="header-link">
                        经济学
                    </a>
                </li>
                <li>
                    <a href="#" class="header-link">
                        历史学
                    </a>
                </li>
                <li>
                    <a href="#" class="header-link">
                        爬虫
                    </a>
                </li>
                <li>
                    <a href="#" class="header-link">
                        网页制作
                    </a>
                </li>
                <li>
                    <a href="MATLAB_ch1.html" class="header-link">
                        MATLAB
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle header-link" id="header-username2" data-toggle="dropdown" >
                        <span class="icon icon-user-md" aria-hidden="true"></span>&nbsp; amuro
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/{{ current_user.username }}">我的主页</a></li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ url_for('base_bp.logout') }}">
                                <span class="icon icon-reply" aria-hidden="true"></span>&nbsp; 登出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--下面的是需要替换的具体内容部分 -->
<div class="main-content">
    <div class="main-body container">

        <div class="col-md-2 side content-wrap">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="side-link" id="side-index">
                    <span class="icon icon-book"></span>&nbsp;目录
                </li>
                <li role="presentation" class="side-link active">
                    <a href="#">{{ article.name }}</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">&nbsp;&nbsp;这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">&nbsp;&nbsp;这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">&nbsp;&nbsp;这是目录</a>
                </li>
                <li role="presentation" class="side-link">
                    <a href="#">&nbsp;&nbsp;这是目录</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 content content-wrap">
            <div class="main-text-header">
                <h2>1 概述&nbsp;&nbsp;&nbsp;<small>2017.09.16</small></h2>
            </div>
            <div class="main-text">
                <h3>MATLAB简介</h3>
                <p>MATLAB是矩阵实验室（Matrix Laboratory）的简称，是一种用于算法开发、数据可视化、数据分析以及数值计算的高级技术计算语言和交互式环境。MATLAB的应用范围非常广，包括信号和图像处理、通信、控制系统设计、测试和测量、财务建模和分析，以及计算生物学等众多应用领域。附加的工具箱（单独提供的专用MATLAB函数集扩展了MATLAB的使用环境，以解决这些应用领域内特定类型的问题。</p>


                <h3>MATLAB的主要特点</h3>
                <p>MATLAB以其良好的开放性和运行的可靠性，已经成为国际控制界公认的标准计算机软件，在国际上30多个数学类科技应用软件中，MATLAB在数值计算方面独占鳌头。</p>
            	<p>（1）计算功能强大。</p>
            	<p>（2）绘图非常方便。在Fortran和C语言中，绘图都很不容易，但在MATLAB里，数据的可视化非常简单。而且，MATLAB还具有较强的编辑图形界面的能力。</p>
            	<p>（3）功能强大的工具箱是MATLAB的另一特色。MATLAB包含两个部分：核心部分和各种可选的工具箱。核心部分有数百个核心内部函数。除内部函数以外，MATLAB的所有核心文件和工具箱文件都是可读可写的源文件，用户可通过对源文件等修改以及加入自己的文件构成新的工具箱。</p>
            	<p>（4）帮助功能完整。自带的帮助功能是非常强大的帮助手册。</p>
            	 
            	 
            	<h3>关于本教程</h3>
            	<p>本教程基于MATLAB 2016b for Mac编写，主要面向北京大学经济、金融相关专业的在校学生。本教程在现有其他MATLAB教程的基础上，删去了大量与经济、金融无关的内容，简化较难或不常用到的内容，以求降低难度、快速入门。<span style="color: red">本教程假设学习者已经具备最基本的编程知识</span>，如逻辑运算、三种程序基本结构等。</p>
            
            
            
            </div>
            <!-- 加载评论区 -->
            <div class="comment-block">
                <div class="panel panel-info">

                    <div class="comment-title panel-heading">
                        <h3>Comments
                            <a id="comment-switch"><button class="btn btn-info">switch</button></a>
                            <a id="comment-button" class="pull-right"><button class="btn btn-info">展示/隐藏评论编辑框</button></a>
                        </h3>
                    </div>


                    <div class="comment-content-wrap panel-body">
                        <ul class="comment-content list-group">
                            <!--评论编辑窗口-->
                            <li>
                                <div class="modal-content" id="comment-edit-window">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">编辑评论内容</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" method="post" action="#">
                                            <div class="form-group">
                                                <label for="tittle" class="col-sm-2 control-label">主题</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="comment-title" name="title" placeholder="请输入主题">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="content" class="col-sm-2 control-label">内容</label>
                                                <div class="col-sm-10">
                                                    <script id="container" name="content" type="text/plain" style="width: 100%">  请在这里输入具体的内容</script>
                                                </div>
                                            </div>

                                            <input type="submit" id="comment-submit" style="display: none">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button id="comment-submit-button" type="button" class="btn btn-primary">提交</button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <form class="reply-form-hide">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <script id="container-for-sub-comment" name="sub-comment" type="text/plain" style="width: 100%">  请在这里输入具体的内容</script>
                                        </div>
                                        <div class="col-sm-1">
                                            <a  class="btn btn-info btn-sm btn-sub_com-submit">回复</a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="btn btn-default btn-sm btn-sub_com-cancel">取消</a>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <!--具体评论-->
                            <!-- 第一条评论 -->
                            <li class="comment list-group-item clearfix row" id="1">

                                <div class="comment-avatar col-md-2">
                                    <img id="test" class="comment-header-avatar img-responsive" src="../../static/images/avatar/amuro_avatar%2010.png">
                                </div>
                                <div class="comment-header col-md-10">

                                    <div class="comment-header-title col-md-10">
                                        <strong>这是一条测试评论的标题</strong>
                                    </div>
                                    <div class="reply col-md-2">
                                        <button class="btn btn-info btn-sm pull-right reply-btn" style="margin-top: 10px">回复</button>


                                    </div>


                                    <div class="comment-detail col-md-10">
                                        这是评论的内容。这是评论的内容。<br>这是评论的内容。这是评论的内容。这是评论的内容。
                                    </div>
                                </div>


                                <div class="comment-from col-md-offset-2 col-md-10">

                                    <p class="pull-right">
                                        by: amuro&nbsp;&nbsp;&nbsp;
                                        posted: 2017.09.21
                                    </p>
                                </div>
                                <!-- 子评论 -->
                                <div class="sub-comment-block">
                                    <ul class="comment-content list-group col-sm-offset-2 col-sm-10">
                                    <!-- 第一条子评论 -->
                                    <li class="comment list-group-item clearfix row ">

                                        <div class="comment-avatar col-md-2">
                                            <img id="test" class="comment-header-avatar img-responsive" src="../../static/images/avatar/amuro_avatar%2010.png">
                                        </div>
                                        <div class="comment-header col-md-10">

                                            <div class="reply col-md-2">
                                                <!-- 父评论的id -->
                                                <span class="parent-comment-id" style="display: none">1</span>
                                            </div>


                                            <div class="comment-detail col-md-12">
                                                这是评论的内容。这是评论的内容。<br>这是评论的内容。这是评论的内容。这是评论的内容。
                                            </div>
                                        </div>

                                        <div class="comment-from col-md-offset-2 col-md-10">

                                            <p class="pull-right">
                                                by: amuro&nbsp;&nbsp;&nbsp;
                                                posted: 2017.09.21
                                            </p>
                                        </div>
                                    </li>


                                </ul>
                                </div>
                            </li>
                            <!-- 第二条评论 -->
                            <li class="comment list-group-item clearfix row">

                                <div class="comment-avatar col-md-2">
                                    <img id="test" class="comment-header-avatar img-responsive" src="../../static/images/avatar/amuro_avatar%2010.png">
                                </div>
                                <div class="comment-header col-md-10">

                                    <div class="comment-header-title col-md-10">
                                        <strong>这是一条测试评论的标题</strong>
                                    </div>
                                    <div class="reply col-md-2">
                                        <button class="btn btn-info btn-sm pull-right reply-btn" style="margin-top: 10px">回复</button>
                                        <!-- 父评论的id -->
                                        <span class="parent-comment-id" style="display: none">1</span>
                                    </div>


                                    <div class="comment-detail col-md-10">
                                        这是评论的内容。这是评论的内容。<br>这是评论的内容。这是评论的内容。这是评论的内容。
                                    </div>
                                </div>


                                <div class="comment-from col-md-offset-2 col-md-10">

                                    <p class="pull-right">
                                        by: amuro&nbsp;&nbsp;&nbsp;
                                        posted: 2017.09.21
                                    </p>
                                </div>
                                <!-- 子评论 -->
                                <div class="sub-comment-block">
                                    <ul class="comment-content list-group col-md-offset-2 col-md-10">
                                    <li class="comment list-group-item clearfix row ">

                                        <div class="comment-avatar col-md-2">
                                            <img id="test" class="comment-header-avatar img-responsive" src="../../static/images/avatar/amuro_avatar%2010.png">
                                        </div>
                                        <div class="comment-header col-md-10">

                                            <div class="reply col-md-2">
                                                <!-- 父评论的id -->
                                                <span class="parent-comment-id" style="display: none">1</span>
                                            </div>


                                            <div class="comment-detail col-md-12">
                                                这是评论的内容。这是评论的内容。<br>这是评论的内容。这是评论的内容。这是评论的内容。
                                            </div>
                                        </div>

                                        <div class="comment-from col-md-offset-2 col-md-10">

                                            <p class="pull-right">
                                                by: amuro&nbsp;&nbsp;&nbsp;
                                                posted: 2017.09.21
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <script>
                        $(function(){
                            var width = $('div.comment-detail').width();
                            $('.reply-btn').click(function(){
                                $(this).fadeOut(600);
                                $(this).parent().parent().next().prepend(
                                    $('.reply-form-hide').fadeIn(600)
                                );
                            });
                            $('.btn-cancel').click(function(){
                                $(this).parent().parent().parent().fadeOut(600);
                                $('.reply-btn').fadeIn(600);
                            });
                            window.um = UM.getEditor('container-for-sub-comment', {
                                autoHeightEnabled: true,

                                autoFloatEnabled: true,

                                initialFrameWidth: width,

                                initialFrameHeight: 170,

                                toolbar:['source | undo redo | bold italic underline strikethrough | superscript subscript | forecolor backcolor | removeformat |',
                                    'insertorderedlist insertunorderedlist | selectall cleardoc paragraph | fontfamily fontsize' ,
                                    '| justifyleft justifycenter justifyright justifyjustify |',
                                    'link unlink | emotion | horizontal print preview fullscreen', 'drafts']
                            });
                        });
                    </script>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- 以上是需要替换的具体的内容部分 -->

<div id="templatemo_footer" class="container_wapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Copyright © 2017 简单教程</p>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../static/js/tutor.js"></script>
</html>