{% extends 'base_tutor.html' %}
{% block sub_title %}MATLAB教程{% endblock %}


{% block content %}
    <!-- 主内容部分 -->
    <div class="main-content">
        <div class="main-body container">
            <div class="row">
                {% include "matlab/matlab_side_nav.html" %}

                <div class="col-md-10 col-xs-12 content content-wrap">
                    <div class="row">
                        <div class="main-text-header col-md-12">
                            <h2>1 概述&nbsp;&nbsp;&nbsp;<small>2017.09.16</small></h2>
                        </div>
                        <div class="main-text">
                            <div class="col-md-12">

                                <h3>MATLAB简介</h3>
                                <p>MATLAB是矩阵实验室（Matrix Laboratory）的简称，是一种用于算法开发、数据可视化、数据分析以及数值计算的高级技术计算语言和交互式环境。MATLAB的应用范围非常广，包括信号和图像处理、通信、控制系统设计、测试和测量、财务建模和分析，以及计算生物学等众多应用领域。附加的工具箱（单独提供的专用MATLAB函数集扩展了MATLAB的使用环境，以解决这些应用领域内特定类型的问题。</p>


                                <h3>MATLAB的主要特点</h3>
                                <p>MATLAB以其良好的开放性和运行的可靠性，已经成为国际控制界公认的标准计算机软件，在国际上30多个数学类科技应用软件中，MATLAB在数值计算方面独占鳌头。</p>
                                <p>（1）计算功能强大。</p>
                                <p>（2）绘图非常方便。在Fortran和C语言中，绘图都很不容易，但在MATLAB里，数据的可视化非常简单。而且，MATLAB还具有较强的编辑图形界面的能力。</p>
                                <p>（3）功能强大的工具箱是MATLAB的另一特色。MATLAB包含两个部分：核心部分和各种可选的工具箱。核心部分有数百个核心内部函数。除内部函数以外，MATLAB的所有核心文件和工具箱文件都是可读可写的源文件，用户可通过对源文件等修改以及加入自己的文件构成新的工具箱。</p>
                                <p>（4）帮助功能完整。自带的帮助功能是非常强大的帮助手册。</p>


                                <h3>关于本教程</h3>
                                <p>本教程基于MATLAB 2016b for Mac编写，主要面向北京大学经济、金融相关专业的在校学生。本教程在现有其他MATLAB教程的基础上，删去了大量与经济、金融无关的内容，简化较难或不常用到的内容，以求降低难度、快速入门。<span style="color: red">本教程假设学习者已经具备最基本的编程知识</span>，如逻辑运算、三种程序基本结构等。</p>

                            </div>

                        </div>
                    </div>
                    <!-- 加载评论区 -->
                    {% include 'comment_block.html' %}
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-center",
                "preventDuplicates": false,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            {% for message in get_flashed_messages(with_categories=True) %}
                toastr.{{ message[1] }}('{{ message[0] }}', '提示信息');
            {% endfor %}
        })
    </script>
{% endblock %}

