<!-- 小屏的侧边栏 -->
<div class="side-nav" id="tiny-side-nav">
    <ul style="padding-top: 18px; padding-left: 10px;">
        <li role="presentation" class="tiny-side-link clearfix" id="tiny-side-index" style="font-size: 24px;">
            <span class="glyphicon glyphicon-book"></span>目录  <button id="fold-side-nav" class="btn btn-info pull-right" style="background-color: #35a9d8; border: 1px solid #ffffff;"><span class="glyphicon glyphicon-remove"></span></button>
        </li>
        <li role="presentation" class="tiny-side-link">
            <a href="{{ url_for('python_bp.intro') }}">第一章：前言</a>
        </li>
        <li role="presentation" class="tiny-side-link ">
            <a href="{{ url_for("python_bp.sec_chapter") }}">第二章：搭建环境</a>
        </li>
        <li role="presentation" class="tiny-side-link">
            <a href="{{ url_for("python_bp.thi_chapter") }}">第三章：快速入门</a>
        </li>
        <li role="presentation" class="tiny-side-link">
            <a href="{{ url_for("python_bp.four_chapter") }}">第四章：基本数据类型</a>
        </li>
        <li role="presentation" class="tiny-side-link">
            <a href="#">第五章：基本数据结构</a>
        </li>
        <li role="presentation" class="tiny-side-link">
            <a href="#">第六章：基本控制流</a>
        </li>
        <li role="presentation" class="tiny-side-link">
            <a href="#">小课题：错误与bug</a>
        </li>
        <li role="presentation" class="tiny-side-link">
            <a href="#">习题课一</a>
        </li>
        <li role="presentation" class="tiny-side-link">
            <a href="#">第七章：自定义函数</a>
        </li>
        <li role="presentation" class="tiny-side-link">
            <a href="#">第八章：内置的高阶函数</a>
        </li>
        <li role="presentation" class="tiny-side-link">
            <a href="#">第九章：高阶特性</a>
        </li>
        <li role="presentation" class="tiny-side-link">
            <a href="#">习题课二</a>
        </li>
        <li role="presentation" class="tiny-side-link">
            <a href="#">第十章：模块</a>
        </li>
        <li role="presentation" class="tiny-side-link">
            <a href="#">第十一章：IO操作</a>
        </li>
        <li role="presentation" class="tiny-side-link">
            <a href="#">第十二章：面向对象基础</a>
        </li>
        <li role="presentation" class="tiny-side-link">
            <a href="#">第十三章：面向对象进阶</a>
        </li>
        <li role="presentation" class="tiny-side-link">
            <a href="#">教程总结</a>
        </li>

    </ul>
</div>

<!-- 大屏的侧边栏 -->
<div class="col-md-2 side content-wrap"  id="normal-side-nav">
    <ul class="nav nav-pills nav-stacked" id="normal-side-nav-ul">
        <li role="presentation" class="side-link" id="side-index">
            <span class="icon icon-book"></span>&nbsp;目录
        </li>
        <li role="presentation" class="side-link">
            <a href="{{ url_for('python_bp.intro') }}">第一章：Python 前言</a>
        </li>
        <li role="presentation" class="side-link">
            <a href="{{ url_for("python_bp.sec_chapter") }}">第二章：搭建环境</a>
        </li>
        <li role="presentation" class="side-link">
            <a href="{{ url_for("python_bp.thi_chapter") }}">第三章：快速入门</a>
        </li>
        <li role="presentation" class="side-link">
            <a href="{{ url_for("python_bp.four_chapter") }}">第四章：基本数据类型</a>
        </li>
        <li role="presentation" class="side-link">
            <a href="#">第五章：基本数据结构</a>
        </li>
        <li role="presentation" class="side-link">
            <a href="#">第六章：基本控制流</a>
        </li>
        <li role="presentation" class="side-link">
            <a href="#">小课题：错误与bug</a>
        </li>
        <li role="presentation" class="side-link">
            <a href="#">习题课一</a>
        </li>
        <li role="presentation" class="side-link">
            <a href="#">第七章：自定义函数</a>
        </li>
        <li role="presentation" class="side-link">
            <a href="#">第八章：内置的高阶函数</a>
        </li>
        <li role="presentation" class="side-link">
            <a href="#">第九章：高阶特性</a>
        </li>
        <li role="presentation" class="side-link">
            <a href="#">习题课二</a>
        </li>
        <li role="presentation" class="side-link">
            <a href="#">第十章：模块</a>
        </li>
        <li role="presentation" class="side-link">
            <a href="#">第十一章：IO操作</a>
        </li>
        <li role="presentation" class="side-link">
            <a href="#">第十二章：面向对象基础</a>
        </li>
        <li role="presentation" class="side-link">
            <a href="#">第十三章：面向对象进阶</a>
        </li>
        <li role="presentation" class="side-link">
            <a href="#">教程总结</a>
        </li>
    </ul>
</div>
<script>
    $(function(){
        $('#normal-side-nav-ul li:nth-child({{ chap_num }})').addClass('active');
    })
</script>
