{% extends 'base.html' %}

{% block morelink %}
    <link rel="stylesheet" href="../../static/css/user_profile.css">

{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="container">
            <div class="row user-header" style="background-image: url('../../static/images/backgrounds/tech_blue.jpg')">
                <div class="avatar col-md-2 col-md-offset-1">
                    <a href="#" class="tooltip-test" data-toggle="tooltip" title="<h5>点击头像可以更换头像</h5>">
                        <img src="{{ current_user.avatar }}" class="img-rounded img-responsive" id="avatar-tri">
                        <button class="btn btn-primary" style="display: none; width: 100%" id="change-avatar-button">上传头像</button>
                        <form style="display: none" action="{{ url_for('base_bp.avatar_change') }}" method="post" enctype="multipart/form-data">
                            <input type="file" name="change-avatar" id="change-avatar-input">
                            <input type="submit" id="change-avatar-submit">
                        </form>
                    </a>
                </div>
                <div class="user-info col-md-9">
                    <div class="user-name col-md-10 ">
                        <span id="user-name">{{ current_user.username }} </span>
                        <!-- 编辑信息 按钮启动模态框 -->
                        <span class="pull-right">
                        <button class="btn btn-info" data-toggle="modal" data-target="#edit-form">
                            <span class="glyphicon glyphicon-edit"></span>&nbsp;编辑信息
                        </button>
                    </span>

                    </div>
                    <div class="signature col-md-8">
                        <h3>{{ current_user.sign }}</h3>
                    </div>
                </div>
            </div>

            <div class="row user-article">
                <ul class="nav nav-pills nav-justified">
                    <li role="presentation" class="active" id="interested-tab"><a href="#" >感兴趣的教程</a></li>
                    <li role="presentation" id="wrote-tab"><a href="#" >发表过的教程</a></li>
                </ul>

                <div id="interested-article">
                    <div class="clearfix article"></div>
                <div class="col-sm-4 event_animate_left">
                    <a href="{{ url_for('python_bp.intro') }}" style="text-decoration: none">
                    <img src="../../static/images/cover/python_cover.png" alt="Blog Post 1" class="img-responsive" />
                    </a>
                </div>
                <div class="col-sm-8 blog_text event_animate_right">
                    <a href="{{ url_for('python_bp.intro') }}" style="text-decoration: none"><h1>Python 入门向教程</h1></a>
                    <p>
                        <span class="glyphicon glyphicon-user"></span> posted on  &nbsp;&nbsp;
                        <span class="glyphicon glyphicon-calendar"></span> 5<sup>th</sup> September 2017 &nbsp;&nbsp;
                        <span class="glyphicon glyphicon-bookmark"></span> <a href="#">编程</a>, <a href="#">Python</a>, <a href="#">入门</a>
                    </p>
                    <p>（本教程是完全面向新手的Python3教程，就算你之前完全没有接触过编程，也丝毫不必担心）<br>
                        python是一种面向对象的<strong>解释性编程语言</strong>。<br>
                        作为编程语言，python能做的事情很多，用于开发桌面软件、网站（本网站的后台使用的就是python）、游戏，也可以用来收集网络数据、进行数据处理等等。<br>
                        Python具有很多的优势：<strong>语言精炼，符号简洁；扩展丰富、强大；业界广泛的运用；命令行带来的互动性；易学易上手……</strong>这些优势使得Python成为了近些年“最流行”的编程语言。<br>
                        如果你对这门语言产生了一丝兴趣，并且想了解一些关于编程的基本知识，欢迎你学习这篇教程！
                    </p>
                </div>
                <div class="clearfix article"></div>
                <div class="col-sm-4 event_animate_left">
                    <a href="{{ url_for('matlab_bp.intro') }}" style="text-decoration: none">
                    <img src="../../static/images/cover/MATLAB-Logo.png" alt="Blog Post 2" class="img-responsive" />
                    </a>
                </div>
                <div class="col-sm-8 blog_text event_animate_right">
                    <a href="{{ url_for('matlab_bp.intro') }}" style="text-decoration: none"><h1>Matlab简要教程</h1></a>
                    <p>
                        <span class="glyphicon glyphicon-user"></span> posted on &nbsp;&nbsp;
                        <span class="glyphicon glyphicon-calendar"></span> 12<sup>th</sup> October 2017 &nbsp;&nbsp;
                        <span class="glyphicon glyphicon-bookmark"></span> <a href="#">编程</a>, <a href="#">Matlab</a>
                    </p>
                    <p>MATLAB是矩阵实验室（Matrix Laboratory）的简称，是一种用于算法开发、数据可视化、数据分析以及数值计算的高级技术计算语言和交互式环境。MATLAB的应用范围非常广，包括信号和图像处理、通信、控制系统设计、测试和测量、财务建模和分析，以及计算生物学等众多应用领域。附加的工具箱（单独提供的专用MATLAB函数集扩展了MATLAB的使用环境，以解决这些应用领域内特定类型的问题。
                         MATLAB以其良好的开放性和运行的可靠性，已经成为国际控制界公认的标准计算机软件，在国际上30多个数学类科技应用软件中，MATLAB在数值计算方面独占鳌头。
                    本教程基于MATLAB 2016b for Mac编写，主要面向北京大学经济、金融相关专业的在校学生。本教程在现有其他MATLAB教程的基础上，删去了大量与经济、金融无关的内容，简化较难或不常用到的内容，以求降低难度、快速入门。</p>
                </div>
                </div>

                <div id="wrote-article" style="display: none">
                    <div class="clearfix article">
                        <div class="col-sm-4 event_animate_left">
                            <img src="../../static/images/global/impossible.png" alt="Blog Post 1" class="img-responsive" />
                        </div>
                        <div class="col-sm-8 blog_text event_animate_right">
                            <h1>
                                <span class="glyphicon glyphicon-info-sign"></span>&nbsp;你还没有发布过教程
                            </h1>

                            <p class="inform">
                                由于本网站的实验性质以及开发人员的技术限制，我们并没有提供一般用户发布教程功能，因此您无法发布教程，对于因此给您带来的不便，我们表示非常抱歉。<br/>
                                如果您有发布教程、为网站的发展做贡献的想法，请通过首页底部的建议功能联系后台的工作人员，对于您的合作，我们表示诚挚的感谢。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框部分 -->
    <div class="modal fade" id="edit-form" tabindex="-1" role="dialog" aria-labelledby="edit-form" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modal-title-Label">编辑我的信息(可以只修改其中某一项)</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" method="post" role="form" action="/user/{{ current_user.username }}">

                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="form-username" name="username" placeholder="请输入名字">
                                <div class="alert alert-success" role="alert" id="username-alert-success">此用户名可以使用！</div>
                                <div class="alert alert-danger" role="alert" id="username-alert-danger">此用户名已被占用，您需要重新输入一个用户名！</div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="form-password" name="password" placeholder="请输入新的密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="repassword" class="col-sm-2 control-label">重复密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="form-repassword" placeholder="请重复新的密码">
                                <div class="alert alert-danger" role="alert" id="repassword-alert-danger">两次输入的密码不一致，请检查！</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sign" class="col-sm-2 control-label">签名</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="form-sign" name="sign" placeholder="请输入签名"></textarea>
                                <div class="alert alert-danger" role="alert" id="sign-alert-danger">签名有最长字长，您的签名过长，换一个更短一些的签名吧。</div>
                            </div>
                        </div>
                        <input id="form-submit" name="submit" style="display: none" type="submit" value="提交更改">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="form-submit-tri">提交更改</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <script type="text/javascript" src="../../static/js/user_profile.js"></script>
    <script type="text/javascript" src="../../static/js/edit.js"></script>
    <script></script>
{% endblock %}
