*{margin: 0 auto;  list-style: none}


/* navbar部分 */

#tiny-side-nav{
    display: none;
}

.navbar{
    border: none;
    margin-bottom: 0 !important;
}

.navbar-brand{
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 30px;
    line-height: 32px;
    color: #fff !important
}

#home-name{
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-nav .open a:focus{
    background-color: #3f8fd2!important;
}

#side-nav-trigger{
    display: none;
}

.header{ background: #35a9d8;}

.header-link{
    color: #fff !important;
    text-decoration: none;
    font-size: 20px !important;
    font-family: "微软雅黑 Light";
}

.header-link:hover{
    color: #fff !important;
    text-decoration: none;
    font-size: 20px !important;
    font-family: "微软雅黑 Light";
    background-color: #3f8fd2!important;
}

.word-1{ font-size: 35px; font-family: "微软雅黑 Light"; color: #fff; text-align: center; line-height: 50px}

.word-2{ font-size: 22px; font-family: "微软雅黑 Light"; color: #fff; text-align: center; line-height: 50px}

.word-1:hover, .word-2:hover{
    background:#3f8fd2;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
/* navbar 结束 */

.footer{
    background: #222;
    font: normal 14px/14px arial, "微软雅黑 Light";
    text-align: center;
    color: #fff;
}

#sign-in{ color: white}

.f-link{
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.blank-vertical{ height: 40px;}

a.more-link, #header-username{ color: #fff}


#back-to-top{
    position: fixed;
    bottom: 100px;
    right: 40px;
    text-decoration: none;
    display: none;
    border-radius: 5px;
    color: #fff !important;
}

/*小屏部分的CSS，主要是“回到顶部”和“侧边栏” */

@media screen and (max-width: 769px){
    #back-to-top{
    position: fixed;
    bottom: 10px;
    right: 0;
    text-decoration: none;
    display: none;
    border-radius: 5px;
    color: #fff !important;
    }

    #nav-bar{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1033;
    }

    .navbar-brand{
        padding-top: 9px;
        padding-bottom: 9px;
        font-size: 30px;
        line-height: 32px;
        color: #fff !important;
        width: 50%;
        margin: 0 auto;
    }

    #home-name{
        width: 104px;
        margin: 0 auto;
    }

    #side-nav-trigger{
        display: block;
        float: left;
        margin-left: 15px;
        margin-right: 8%;
        background-color: #35a9d8;
        border: 1px solid #ffffff;
        margin-top: 8px;

    }

    #normal-side-nav{
        display: none;
    }

    #tiny-side-nav {
        width: 60%;
        display: block;
        position: fixed;
        left: -60%;
        top: 0;
        background-color: #35a9d8;
        color: #ffffff !important;
        z-index: 1333;
    }
    li.tiny-side-link{
        height: 35px;
    }
    li.tiny-side-link>a {
        color: #ffffff;
        line-height: 34px;
        font-size: 16px;
        text-decoration: none;
    }

    body{
        padding-top: 50px;
    }

    .reply-btn{
        float: none;
    }

    /* comment block 部分 */
    .comment-header-title{
        font-size: 16px;
        margin-top: 0!important;
        margin-bottom: 0!important;
    }
    .comment-detail{
        font-size: 13px;
    }
}
