<div class="comment-block">
    <div class="panel panel-info">

        <div class="comment-title panel-heading">
            <h3>Comments
                <a id="comment-switch"><button class="btn btn-info"><span class="glyphicon glyphicon-list"></span></button></a>
                {% if current_user.username %}
                    <a id="comment-button" class="pull-right"><button class="btn btn-info">编辑框</button></a>
                {% else %}
                    <a id="comment-info" class="pull-right" href="{{ url_for('base_bp.login') }}"><small>登录后评论</small></a>
                {% endif %}
            </h3>
        </div>


            <div class="comment-content-wrap panel-body">
                <ul class="comment-content list-group">
                    <!--评论编辑窗口-->
                    <div class="modal-content" id="comment-edit-window">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">编辑评论内容</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" method="post" action="/comment_get/{{ article.id }}">
                                <div class="form-group">
                                    <label for="tittle" class="col-sm-2 control-label">主题</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="comment-title" name="title" placeholder="请输入主题">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="content" class="col-sm-2 control-label">内容</label>
                                    <div class="col-sm-10">
                                        <script id="container" name="content" type="text/plain" style="width: 100%">  请在这里输入具体的内容</script>
                                    </div>
                                </div>

                                <input type="submit" id="comment-submit" style="display: none">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button id="comment-submit-button" type="button" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                    <li>
                        <form class="reply-form-hide">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <script id="container-for-sub-comment" name="sub-comment" type="text/plain" style="width: 100%">  请在这里输入具体的内容</script>
                                </div>
                                <div class="col-sm-1">
                                    <a  class="btn btn-info btn-sm btn-sub_com-submit">回复</a>
                                </div>
                                <div class="col-sm-1">
                                    <a class="btn btn-default btn-sm btn-sub_com-cancel">取消</a>
                                </div>
                            </div>
                        </form>
                    </li>
                    <!--具体评论-->
                    {% if user_comment %}
                    {% for user_com in user_comment %}
                        <li class="comment list-group-item clearfix row" id="{{ user_com[1].id }}">

                            <div class="comment-avatar col-md-2">
                                <img id="test" class="comment-header-avatar img-responsive" src="{{ user_com[0].avatar }}">
                            </div>
                            <div class="comment-header col-md-10 clearfix">


                                <h3 class="comment-header-title col-md-10 col-xs-8"><strong>{{ user_com[1].title }}</strong></h3>

                                <span class="reply col-md-2 col-xs-4 pull-right ">
                                    {% if current_user.username %}
                                    <button class="btn btn-info btn-sm reply-btn" style=" z-index: 1008">回复</button>
                                    {% endif %}
                                    <!-- 父评论的id -->
                                    <span class="parent-comment-id" style="display: none">{{ user_com[1].id }}</span>
                                </span>

                            </div>
                            <div class="comment-detail col-md-10">
                                    {{ user_com[1].content|safe }}
                                </div>

                            <div class="comment-from col-md-offset-2 col-md-10">

                                <p class="pull-right">
                                    by: {{ user_com[0].username }}&nbsp;&nbsp;&nbsp;
                                    posted: {{ user_com[1].posted }}
                                </p>
                            </div>
                            {% if com_to_sub_dict[user_com[1].id] %}
                            <div class="sub-comment-block">
                                <ul class="comment-content list-group col-sm-offset-2 col-sm-10">
                                    {% for sub_user_com in com_to_sub_dict[user_com[1].id] %}
                                    <!-- 子评论 -->
                                    <li class="comment list-group-item clearfix row ">

                                        <div class="comment-avatar col-md-2">
                                            <img id="test" class="comment-header-avatar img-responsive" src="{{ sub_user_com[0].avatar }}">
                                        </div>
                                        <div class="comment-header col-md-10">

                                            <div class="reply col-md-2">
                                                <!-- 父评论的id -->
                                                <span class="parent-comment-id" style="display: none">{{ com_to_sub_dict[user_com[1.id]] }}</span>
                                            </div>


                                            <div class="comment-detail col-md-12">
                                                {{ sub_user_com[1].content|safe }}
                                            </div>
                                        </div>

                                        <div class="comment-from col-md-offset-2 col-md-10">

                                            <p class="pull-right">
                                                by: {{ sub_user_com[0].username }}&nbsp;&nbsp;&nbsp;
                                                posted: {{ sub_user_com[1].posted }}
                                            </p>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

        {% else %}
            <div class="comment-content-wrap panel-body">
                <h2>本文章还没有评论，快去成为第一个评论者吧！</h2>
            </div>
        {% endif %}
    </div>
</div>