<div class="side-nav">
    <nav class="navbar navbar-inverse">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="side-link" id="side-index">
                <span class="icon icon-book"></span>&nbsp;目录
            </li>
            <li role="presentation" class="side-link active">
                <a href="{{ url_for('python_bp.intro') }}">第一章：{{ article.name }}</a>
            </li>
            <li role="presentation" class="side-link ">
                <a href="{{ url_for("python_bp.sec_chapter") }}">第二章：搭建环境</a>
            </li>
            <li role="presentation" class="side-link">
                <a href="#">第三章：快速入门</a>
            </li>
            <li role="presentation" class="side-link">
                <a href="#">第四章：基本数据类型</a>
            </li>
            <li role="presentation" class="side-link">
                <a href="#">&nbsp;&nbsp;第一章：基本控制流</a>
            </li>
            <li role="presentation" class="side-link">
                <a href="#">第二章：函数编程</a>
            </li>
            <li role="presentation" class="side-link">
                <a href="#">&nbsp;&nbsp;第二章：自定义函数1</a>
            </li>
            <li role="presentation" class="side-link">
                <a href="#">&nbsp;&nbsp;第二章：自定义函数2</a>
            </li>
            <li role="presentation" class="side-link">
                <a href="#">&nbsp;&nbsp;第二章：常用的高阶函数</a>
            </li>
            <li role="presentation" class="side-link">
                <a href="#">第三章：函数编程</a>
            </li>
            <li role="presentation" class="side-link">
                <a href="#">&nbsp;&nbsp;第二章：自定义函数1</a>
            </li>
            <li role="presentation" class="side-link">
                <a href="#">&nbsp;&nbsp;第二章：自定义函数2</a>
            </li>
            <li role="presentation" class="side-link">
                <a href="#">&nbsp;&nbsp;第二章：常用的高阶函数</a>
            </li>
            <li role="presentation" class="side-link">
                <a href="#">第四章：函数编程</a>
            </li>
            <li role="presentation" class="side-link">
                <a href="#">&nbsp;&nbsp;第二章：自定义函数1</a>
            </li>
            <li role="presentation" class="side-link">
                <a href="#">&nbsp;&nbsp;第二章：自定义函数2</a>
            </li>
            <li role="presentation" class="side-link">
                <a href="#">&nbsp;&nbsp;第二章：常用的高阶函数</a>
            </li>
        </ul>
    </nav>
</div>
