{% extends 'base.html' %}

{% block morelink %}
    <link rel="stylesheet" href="../static/css/user_profile.css">

    <style>
        .main-content{
            margin-top: 50px;
        }
        #change-avatar-input{
            display: none;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="container">
            <div class="row user-header">
                <div class="avatar col-md-2 col-md-offset-1">
                    <a href="#" class="tooltip-test" data-toggle="tooltip" title="<h5>点击头像可以更换头像</h5>">
                        <img src="{{ current_user.avatar }}" class="img-rounded img-responsive" id="avatar-tri">
                        <button class="btn btn-primary" style="display: none; width: 100%" id="change-avatar-button">上传头像</button>
                        <form style="display: none" action="{{ url_for('base_bp.avatar_change') }}" method="post" enctype="multipart/form-data">
                            <input type="file" name="change-avatar" id="change-avatar-input">
                            <input type="submit" id="change-avatar-submit">
                        </form>
                    </a>
                </div>
                <div class="user-info col-md-9">
                    <div class="user-name col-md-10 ">
                        <span id="user-name">{{ current_user.username }} </span>
                        <!-- 编辑信息 按钮启动模态框 -->
                        <span class="pull-right">
                        <button class="btn btn-info" data-toggle="modal" data-target="#edit-form">
                            <span class="glyphicon glyphicon-edit"></span>&nbsp;编辑信息
                        </button>
                    </span>

                    </div>
                    <div class="signature col-md-8">
                        <h3>{{ current_user.sign }}</h3>
                    </div>
                </div>
            </div>

            <div class="row user-article">
                <ul class="nav nav-pills nav-justified">
                    <li role="presentation" class="active" id="interested-tab"><a href="#" >感兴趣的教程</a></li>
                    <li role="presentation" id="wrote-tab"><a href="#" >发表过的教程</a></li>
                </ul>

                <div id="interested-article">
                    <div class="clearfix article">
                        <div class="col-sm-4 event_animate_left">
                            <img src="../static/images/cover/python_cover.png" alt="Blog Post 1" class="img-responsive" />
                        </div>
                        <div class="col-sm-8 blog_text event_animate_right">
                            <h1>Python 入门向教程</h1>
                            <p>
                                <span class="glyphicon glyphicon-user"></span> posted by <a href="#">黎坚</a>  &nbsp;&nbsp;
                                <span class="glyphicon glyphicon-calendar"></span> 5<sup>th</sup> September 2084 &nbsp;&nbsp;
                                <span class="glyphicon glyphicon-bookmark"></span> <a href="#">编程</a>, <a href="#">Python</a>, <a href="#">入门</a>
                            </p>
                            <p>Architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm amet aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>

                    <div class="clearfix article">
                        <div class="col-sm-4 event_animate_left">
                            <img src="../static/images/cover/web-front.png" alt="Blog Post 2" class="img-responsive" />
                        </div>
                        <div class="col-sm-8 blog_text event_animate_right">
                            <h1>网页制作简要教程</h1>
                            <p>
                                <span class="glyphicon glyphicon-user"></span> posted by <a href="#">黎坚</a> &nbsp;&nbsp;
                                <span class="glyphicon glyphicon-calendar"></span> 12<sup>th</sup> July 2084 &nbsp;&nbsp;
                                <span class="glyphicon glyphicon-bookmark"></span> <a href="#">编程</a>, <a href="#">HTML</a><a href="#">CSS</a><a href="#">Javascript</a>
                            </p>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lorem ipsum dolor Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm amet architecto beatae vitae dicta sunt explicabo. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

                <div id="wrote-article" style="display: none">
                    <div class="clearfix article">
                        <div class="col-sm-4 event_animate_left">
                            <img src="../static/images/global/impossible.png" alt="Blog Post 1" class="img-responsive" />
                        </div>
                        <div class="col-sm-8 blog_text event_animate_right">
                            <h1>
                                <span class="glyphicon glyphicon-info-sign"></span>&nbsp;你还没有发布过教程
                            </h1>

                            <p class="inform">
                                由于本网站的实验性质以及开发人员的技术限制，我们并没有提供一般用户发布教程功能，因此您无法发布教程，对于因此给您带来的不便，我们表示非常抱歉。<br/>
                                如果您有发布教程、为网站的发展做贡献的想法，请通过首页底部的建议功能联系后台的工作人员，对于您的合作，我们表示诚挚的感谢。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框部分 -->
    <div class="modal fade" id="edit-form" tabindex="-1" role="dialog" aria-labelledby="edit-form" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modal-title-Label">编辑我的信息(可以只修改其中某一项)</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" method="post" role="form" action="/user/{{ current_user.username }}">

                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="form-username" name="username" placeholder="请输入名字">
                                <div class="alert alert-success" role="alert" id="username-alert-success">此用户名可以使用！</div>
                                <div class="alert alert-danger" role="alert" id="username-alert-danger">此用户名已被占用，您需要重新输入一个用户名！</div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="form-password" name="password" placeholder="请输入新的密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="repassword" class="col-sm-2 control-label">重复密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="form-repassword" placeholder="请重复新的密码">
                                <div class="alert alert-danger" role="alert" id="repassword-alert-danger">两次输入的密码不一致，请检查！</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sign" class="col-sm-2 control-label">签名</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="form-sign" name="sign" placeholder="请输入签名"></textarea>
                                <div class="alert alert-danger" role="alert" id="sign-alert-danger">签名有最长字长，您的签名过长，换一个更短一些的签名吧。</div>
                            </div>
                        </div>
                        <input id="form-submit" name="submit" style="display: none" type="submit" value="提交更改">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="form-submit-tri">提交更改</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <script type="text/javascript" src="../static/js/user_profile.js"></script>
    <script type="text/javascript" src="../static/js/edit.js"></script>
    <script></script>
{% endblock %}
